<footer class="Header">
  <div class="Header-item">
    <a href="https://www.flaticon.com/free-icons/africa" title="africa icons">Africa icons created by Freepik - Flaticon</a>
    <a href="https://www.flaticon.com/free-icons/america" title="america icons">America icons created by Freepik - Flaticon</a>
    <a href="https://www.flaticon.com/free-icons/asia" title="asia icons">Asia icons created by Freepik - Flaticon</a>
    <a href="https://www.flaticon.com/free-icons/australia" title="australia icons">Australia icons created by Freepik - Flaticon</a>
    <a href="https://www.flaticon.com/free-icons/map" title="map icons">Map icons created by Freepik - Flaticon</a>
    <a href="https://www.flaticon.com/free-icons/world" title="world icons">World icons created by Freepik - Flaticon</a>
  </div>
  <div class="Header-item">
    <button class="btn">O mnie</button>
  </div>
</footer>
