<div class="my-3 px-3 px-md-0">
  <nav aria-label="Breadcrumb" class="f2 my-2">
    <ol>
      <li class="breadcrumb-item">
        <a routerLink="/">Regions</a>
      </li>
      <li class="breadcrumb-item breadcrumb-item-selected">
        <a routerLink="." aria-current="page">{{ regionName | titlecase }}</a>
      </li>
    </ol>
  </nav>
  <div class="List" *ngIf="(region$ | async) as region; else loading">
    <a class="Box color-shadow-small p-5" *ngFor="let country of region" routerLink="./country/{{country.cca3}}">
      <span class="h3">{{ country.name.common }}</span>
      <img src="{{ country.flags.png }}" alt="{{ country.name.common }} flag">
    </a>
  </div>
  <ng-template #loading>
    <h2 class="text-center"><span>Loading</span><span class="AnimatedEllipsis"></span></h2>
  </ng-template>
</div>

