.List {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  gap: 12px;

  @media (min-width: 768px) {
    flex-flow: row wrap;
  }
}

.Box {
  position: relative;
  width: 100%;
  overflow: hidden;

  @media (min-width: 768px) {
    width: calc(50% - 6px);
  }

  & span {
    z-index: 2;
  }

  & img {
    z-index: 1;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 0;
    mask-image: linear-gradient(to left, rgba(0,0,0,1), rgba(0,0,0,0));
    height: 100%;

    @media (min-width: 320px) {
      height: initial;
      width: 50%
    }
  }
}
